/* ------ */
/* Global */
/* ------ */
/* Utility class to add a light grey border to any div */
div.border-rectangle {
  padding: 0.5em 1em;
  border: 1px solid rgb(225, 225, 225);
}
/* Make site title bigger and bolder */
header > div.headline > a {
  font-weight: 700;
  font-size: 2.074rem;
}
/* Hide WordPress's auto-inserted H1, since we have disabled the Bcgov Engagement theme's auto-inserted H1 */
div.main-container > div.page-header > h1 {
  display: none;
}
/* Make the header icons larger/thicker on small view ports */
div.bcgov-menu-container > bcgov-button > button {
  min-width: 60px;
}
div.bcgov-menu-container
  > bcgov-button
  > button.search
  > span.bcgov-svg-icon
  > svg {
  height: 36px;
  width: 36px;
}
div.bcgov-menu-container > bcgov-button > button.hamburger > div {
  background: no-repeat center
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='white' d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 -4-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
  border: none;
  height: 36px;
  width: 36px;
  margin: 0 0;
}
div.bcgov-menu-container > bcgov-button > button.hamburger > div::before {
  content: none;
}
/* H3 headings get a different color to stand out from H2s */
h3 {
  color: #38598a;
}

/* -------- */
/* Homepage */
/* -------- */
/* Three cards in a row */
div.wp-block-group.homepage-cards {
  display: block;
}
div.wp-block-group.homepage-cards > div.wp-block-columns > div.wp-block-column {
  align-self: stretch;
}
@media (max-width: 781px) {
  div.wp-block-group.homepage-cards
    > div.wp-block-columns
    > div.wp-block-column:not(:last-child) {
    margin-bottom: 1em;
  }
}

/* ------------------------------ */
/* Left-hand navigation list menu */
/* ------------------------------ */
ul.left-nav {
  border: 1px solid rgb(225, 225, 225);
  padding: 0.66em;
}
ul.left-nav {
  list-style: none;
  list-style-position: outside;
}
/* Top level list */
ul.left-nav li {
  line-height: 1.33em;
  padding: 0.33em 0;
}
ul.left-nav li::marker {
  color: #606060;
  margin: 0 0.5em 0 0;
}
/* Second level list */
ul.left-nav li ul {
  list-style-type: square;
  margin-top: 0.33em;
  padding: 0.33em 0 0.33em 1em;
}
/* Third level list */
ul.left-nav li ul li ul {
  list-style-type: disclosure-closed;
  padding: 0.33em 0 0.33em 1.5em;
}
/* Footer - ensure all links within footer are visible on blue background */
footer.footer a {
  color: white;
}
footer.footer > section.footer-1 > div.container > div.row {
  width: 100%;
}
footer.footer
  > section.footer-1
  > div.container
  > div.row
  > aside.col-sm-3.widget.widget_block {
  flex: auto;
  max-width: 100%;
}
/* Overwrite default paragraph margins to balance link spacing */
footer.footer
  > section.footer-1
  > div.container
  > div.row
  > aside.col-sm-3.widget.widget_block
  > div.sidebarBox
  > div.wp-block-columns
  > div.wp-block-column
  > p {
  margin: 0.5em 0;
}

/*-------------------------------*/
/* miniOrange OAuth login button */
/*-------------------------------*/
/* Bring miniOrange login block in line with other footer links */
footer.footer
  > section.footer-1
  > div.container
  > div.row
  > aside.col-sm-3.widget.widget_block
  > div.sidebarBox
  > div.wp-block-columns
  > div.wp-block-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Button sits to the right of the parent column */
div.widget.widget_mooauth_widget {
  margin: 0 0 0 auto;
}
/* Style miniOrange login button like BC Design System Primary Button */
div.widget.widget_mooauth_widget > a > div.mo_oauth_login_button_widget {
  background-color: white;
  border-radius: 4px;
  border: 2px solid white;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5em 0;
  padding: 12px 32px;
}
div.widget.widget_mooauth_widget > a:focus > div.mo_oauth_login_button_widget {
  background-color: #f2f2f2;
}
div.widget.widget_mooauth_widget > a:hover > div.mo_oauth_login_button_widget {
  background-color: #f2f2f2;
}
div.widget.widget_mooauth_widget
  > a
  > div.mo_oauth_login_button_widget
  > i.fa.fa-windowslive.mo_oauth_login_button_icon_widget {
  display: none; /* Leaving the styles below for when I add back the lock icon */
  border-right: none;
  height: unset;
  margin: 0 5px 0 0;
  padding: 0px;
}
div.widget.widget_mooauth_widget
  > a
  > div.mo_oauth_login_button_widget
  > h3.mo_oauth_login_button_text_widget {
  color: #313132 !important;
}
div.widget.widget_mooauth_widget
  > a:focus
  > div.mo_oauth_login_button_widget
  > h3.mo_oauth_login_button_text_widget {
  color: #313132 !important;
  text-decoration: underline;
}
div.widget.widget_mooauth_widget
  > a:hover
  > div.mo_oauth_login_button_widget
  > h3.mo_oauth_login_button_text_widget {
  color: #313132 !important;
  text-decoration: underline;
}
div.widget.widget_mooauth_widget > a:focus {
  display: block;
  outline: 4px solid #3b99fc !important;
  outline-offset: 1px !important;
}
/* Logged in state, prevent text from wrapping  */
div.widget.widget_mooauth_widget > div#logged_in_user > li {
  white-space: nowrap;
}

/*-------------------------------*/
/* Iframe load spinner animation */
/*-------------------------------*/
.iframe-parent {
  background: url(https://cloud.gov.bc.ca/private-cloud/wp-content/uploads/sites/5/2022/11/load-spinner.gif)
    center center no-repeat;
}
.margin-zero {
	margin: 0;
}